@page
@model RazorPageFootball.Pages_CollegeFootball.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CollegeFootball</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CollegeFootball.Team" class="control-label"></label>
                <input asp-for="CollegeFootball.Team" class="form-control" />
                <span asp-validation-for="CollegeFootball.Team" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CollegeFootball.Conference" class="control-label"></label>
                <input asp-for="CollegeFootball.Conference" class="form-control" />
                <span asp-validation-for="CollegeFootball.Conference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CollegeFootball.TotalOffense" class="control-label"></label>
                <input asp-for="CollegeFootball.TotalOffense" class="form-control" />
                <span asp-validation-for="CollegeFootball.TotalOffense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CollegeFootball.TotalDefense" class="control-label"></label>
                <input asp-for="CollegeFootball.TotalDefense" class="form-control" />
                <span asp-validation-for="CollegeFootball.TotalDefense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CollegeFootball.MasseyRating" class="control-label"></label>
                <input asp-for="CollegeFootball.MasseyRating" class="form-control" />
                <span asp-validation-for="CollegeFootball.MasseyRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
